extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Key
        th Value
        th Map
    tbody
      each val, index in json
        tr
          td #{index}
          td #{val}
          td
            - var img = myimg
            img.className#IdName(src=img alt="Image Title")
