extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th Key
        th X
        th Y
        th Map
    tbody
      each val, index in json
        tr
          td #{val.mapID}
          td #{val.posX}
          td #{val.posY}
          td
            - var img = myimg
            img.className#IdName(src=val.background alt="Image Title")
