extends layout

block content
  h1= title
  p Welcome to #{title}
  table
    tbody
      each world in json
        if world.id == 1
          - var row = world.maps[0].posY
          tr
          each map in world.maps
            if row == map.posY
              td
                img.className#IdName(src=map.background alt="Image Title")
                p #{map.posX},#{map.posY}
              - row = map.posY
            else
              - row = map.posY
              tr
                td
                  img.className#IdName(src=map.background alt="Image Title")
                  p #{map.posX},#{map.posY}
